<a href="https://colab.research.google.com/github/rugellioliveira/Pipeline_de_Dados/blob/main/PipelineDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Criação do Pipeline de Dados:**

In [2]:
# Criação de Pipeline de Extração, Limpeza, Transformação e Enriquecimento de Dados

# Imports
import csv
import sqlite3

# Função para remover o ponto da última coluna
def remove_ponto(valor):
    return int(round(float(valor.replace('.', '')), 0))

# Caminho do arquivo CSV
arquivo_csv = 'producao_alimentos.csv'

# Abre o arquivo CSV com os dados da produção de alimentos
with open(arquivo_csv, 'r', newline='', encoding='utf-8') as file:

    # Cria um leitor de CSV para ler o arquivo
    reader = csv.reader(file)

    # Pula a primeira linha, que contém os cabeçalhos das colunas
    next(reader)

    # Conecta ao banco de dados
    conn = sqlite3.connect('testedb.db')

    # Deleta a tabela existente, se houver
    conn.execute('DROP TABLE IF EXISTS producao')

    # Cria uma nova tabela para armazenar os dados de produção de alimentos com a nova coluna 'margem_lucro'
    conn.execute('''CREATE TABLE producao (
                    produto TEXT,
                    quantidade INTEGER,
                    preco_medio REAL,
                    receita_total INTEGER,
                    margem_lucro REAL
                )''')

    # Insere cada linha do arquivo com quantidade maior que 10 na tabela do banco de dados
    for row in reader:
        if int(row[1]) > 10:

            # Remove o ponto do valor da última coluna e converte para inteiro
            row[3] = remove_ponto(row[3])

            # Calcula a margem de lucro bruta com base no valor médio de venda e na receita total e arredonda para duas casas decimais
            margem_lucro = round((row[3] / float(row[1])) - float(row[2]), 2)

            # Insere a linha com a nova coluna 'margem_lucro' na tabela do banco de dados
            conn.execute('INSERT INTO producao (produto, quantidade, preco_medio, receita_total, margem_lucro) VALUES (?, ?, ?, ?, ?)', (row[0], row[1], row[2], row[3], margem_lucro))

    conn.commit()
    conn.close()

print("Concluído com Sucesso!")

Concluído com Sucesso!

**Resultado final:**

In [4]:
# Conecta ao banco de dados
conn = sqlite3.connect('testedb.db')

# Cria um cursor para executar a consulta
cursor = conn.cursor()

# Executa a consulta para selecionar todos os dados da tabela 'producao'
cursor.execute('SELECT * FROM producao')

# Recupera todos os resultados
dados = cursor.fetchall()

# Exibe os resultados
for linha in dados:
    print(linha)

# Fecha a conexão com o banco de dados
conn.close()

('milho', 18, 21.0, 16500, 895.67)
('batata', 13, 14.0, 12800, 970.62)
('tomate', 12, 15.0, 10780, 883.33)
('alface', 14, 13.0, 4600, 315.57)
('cenoura', 21, 14.0, 4100, 181.24)
('abobrinha', 28, 16.0, 4800, 155.43)
('soja', 80, 17.0, 8400, 88.0)
('trigo', 150, 11.0, 9750, 54.0)
('abacaxi', 30, 10.0, 3000, 90.0)
('morango', 20, 15.0, 8000, 385.0)
('melancia', 12, 12.0, 7000, 571.33)